@media only screen and (min-width: 300px) {
  // Styling's Classes
  .container-padding {
    padding: 16px 32px;
  }

  // Nav
  .nav-container {
    flex-direction: column;
  }

  .menu {
    display: flex;
  }

  // Parallax & Landing
  .parallax {
    background-position: center;
  }

  .name-desc-container {
    h1 {
      font-size: 64px;
    }

    p {
      font-size: 24px;
    }
  }

  // About
  .about-container {
    p {
      font-size: 20px;
    }
  }

  // Portfolio
  .portfolio-card {
    flex: 1 1 100%;
  }
}

@media only screen and (max-width: 425px) {
  .container-header {
    text-align: center;
  }
}

@media only screen and (max-width: 539px) {
  .portfolio-card img {
    object-fit: cover;
  }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  // Nav
  .initial-menu-container {
    padding: 16px;
  }

  .nav-links-container {
    flex-direction: column;
    height: 0;
    overflow: hidden;

    a {
      padding: 16px;
      text-align: center;

      &:hover {
        color: var(--primary-colour);
      }
    }
  }
}

@media only screen and (min-width: 426px) and (max-width: 767px) {
  .portfolio-container {
    justify-content: center;
    .portfolio-card {
      flex: 0 0 80%;
    }
  }
}

@media only screen and (min-width: 768px) {
  // Styling's Classes
  .container-padding {
    padding: 32px 64px;
  }

  // Nav
  .nav-container {
    padding: 16px 32px;
    flex-direction: row;
  }

  .nav-container[data-position=below-zero] {
    .nav-links-container a {
      &:after {
        background-color: var(--primary-colour);
      }
  
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  .menu {
    display: none;
  }

  .nav-links-container {
    align-items: center;
    margin-left: auto;

    a {
      margin-bottom: -4px;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &:after {
        content: "";
        width: 0;
        height: 4px;
        display: block;
        background-color: var(--secondary-colour);
        transition: width .25s ease-in-out, background-color .25s ease-in-out;
      }
  
      &:hover {
        &:after {
          width: 100%;
        }
      }
    }
  }

  // Landing
  .name-desc-container {
    h1 {
      font-size: 80px;
    }

    p {
      font-size: 32px;
    }
  }

  // About
  .about-container {
    p {
      font-size: 24px;
    }
  }

  // Portfolio
  .portfolio-card {
    flex: 0 0 49%;

    .portfolio-links {
      i:first-of-type:hover {
        color: var(--primary-colour);
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  // Styling's Classes
  .container-padding {
    padding: 64px 128px;
  }
}

@media only screen and (min-width: 1200px) {
  // Styling's Classes
  .container-padding {
    padding: 64px 256px;
  }

  .container-header {
    font-size: 40px;
  }

  // Landing
  .name-desc-container {
    h1 {
      font-size: 88px;
    }

    p {
      font-size: 40px;
    }
  }

  // About
  .about-container {
    p {
      font-size: 28px;
      text-align: justify;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .portfolio-container {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1440px) {
  // Portfolio
  .portfolio-container {
    .portfolio-card {
      flex: 0 0 32%;
      margin-left: 2%;

      &:first-of-type, &:nth-of-type(4) {
        margin-left: 0;
      }
    }
  }
}
