*, ::before, ::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-colour: #E84118;
  --primary-colour-rgba: rgba(232, 65, 24, .75);
  --secondary-colour: #333;
  --tertiary-colour: #F5F6FA;
  --tertiary-colour-rgba: rgba(245, 246, 250, .95);
  --white-colour: white;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 3000px;
}

h1, h2, h3, h4, h5, h6, p, a, span, button {
  font-family: 'Raleway';
}

/* Styling's Classes */
// Flex
.d-flex {
  display: flex;
}

/* Element's Classes */
// Nav
.nav-container {
  width: inherit;
  position: fixed;
  transition: background-color .25s ease-in-out;
  z-index: 1000;
  font-size: 32px;

  a {
    font-family: 'Pacifico', Roboto, sans-serif;
    color: inherit;
    text-decoration: none;
  }

  span {
    font-family: 'Pacifico', Roboto, sans-serif;
    color: var(--white-colour);
    transition: color .25s ease-in-out;
  }

  .initial-menu-container {
    align-items: center;
    z-index: 100;
  }
  
  .menu {
    flex-direction: column;
    margin-left: auto;
    cursor: pointer;
  
    .menu-line {
      height: 4px;
      width: 32px;
      background-color: var(--tertiary-colour);
      transition: background-color .25s;
  
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  
    &:hover {
      .menu-line {
        background-color: var(--secondary-colour);
      } 
    }
  }
  
  .nav-links-container {
    display: flex;
    transition: top .25s;
  
    a {
      font-family: 'Raleway', Roboto, sans-serif;
      font-weight: 700;
      color: var(--white-colour);
      transition: color .25s ease-in-out;
      text-decoration: none;
    }
  }

  // .nav-container's data attributes' styling
  &[data-position=below-zero] {
    background-color: var(--tertiary-colour);
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.33);

    span {
      color: var(--primary-colour);
    }

    .menu-line {
      background-color: var(--primary-colour);
    }

    .nav-links-container {
      a {
        color: var(--secondary-colour);
      }
    }
  }

  &[data-menu-opened=yes] {
    background-color: var(--tertiary-colour);

    span {
      color: var(--primary-colour);
    }

    .menu-line {
      background-color: var(--primary-colour);
    }

    .nav-links-container {
      display: flex;
      top: 88px;
      box-shadow: 0 2px 4px rgba(51, 51, 51, 0.33);
      
      a {
        color: var(--secondary-colour);
        &:hover {
          color: var(--primary-colour);
        }
      }
    }
  }
}

// Parallax & Landing
.parallax {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  background: center fixed url('../../images/parallax-bg.jpg');
  background-size: cover;
}

.landing-container {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-colour-rgba);

  .name-desc-container {
    width: 120%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-colour);
    transform: rotate(350deg);

    h1 {
      font-weight: 700;
      font-style: italic;
      color: var(--primary-colour);
      border-bottom: 4px solid var(--primary-colour);
    }
    
    p {
      margin-top: 4px;
      font-family: 'Pacifico', 'Raleway', Roboto, sans-serif;
      color: var(--secondary-colour);
    }
  }
}
