*, ::before, ::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-colour: #E84118;
  --primary-colour-rgba: rgba(232, 65, 24, .75);
  --secondary-colour: #333;
  --secondary-colour-rgba90: rgba(51, 51, 51, 0.9);
  --tertiary-colour: #F5F6FA;
  --tertiary-colour-rgba95: rgba(245, 246, 250, .95);
  --tertiary-colour-rgba90: rgba(245, 246, 250, .9);
  --white-colour: white;
}

body {
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, span, button {
  font-family: 'Raleway', Roboto, sans-serif;
}

/* Styling's Classes */
// Flex
.d-flex {
  display: flex;
}

// Custom
.container-header {
  flex: 1 1 100%;
  margin-bottom: 16px;
  font-family: 'Pacifico', Roboto, sans-serif;
  color: var(--secondary-colour);
}

/* Element's Classes */
// Nav
.nav-container {
  width: inherit;
  position: fixed;
  transition: background-color .25s ease-in-out;
  z-index: 1000;
  font-size: 32px;

  a {
    font-family: 'Pacifico', Roboto, sans-serif;
    color: inherit;
    text-decoration: none;
  }

  span {
    font-family: 'Pacifico', Roboto, sans-serif;
    color: var(--tertiary-colour);
    transition: color .25s ease-in-out;
  }

  .initial-menu-container {
    align-items: center;
    z-index: 100;
  }
  
  .menu {
    flex-direction: column;
    margin-left: auto;
    cursor: pointer;
  
    .menu-line {
      height: 4px;
      width: 32px;
      background-color: var(--tertiary-colour);
      transition: background-color .25s, margin .25s, transform .5s ease-in-out;
  
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
  
  .nav-links-container {
    transition: height .25s;
  
    a {
      font-family: 'Raleway', Roboto, sans-serif;
      font-weight: 700;
      color: var(--tertiary-colour);
      text-decoration: none;
      cursor: pointer;
      transition: color .25s ease-in-out;
    }
  }

  // .nav-container's data attributes' styling
  &[data-position=below-zero] {
    background-color: var(--tertiary-colour);
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.33);

    span {
      color: var(--primary-colour);
    }

    .menu-line {
      background-color: var(--primary-colour);
    }

    .nav-links-container {
      a {
        color: var(--secondary-colour);
      }
    }
  }

  &[data-menu-opened=yes] {
    background-color: var(--tertiary-colour);
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.33);

    span {
      color: var(--primary-colour);
    }

    .menu-line {
      background-color: var(--primary-colour);

      &:first-child {
        margin-bottom: -4px;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        display: none;
      }

      &:last-child {
        transform: rotate(315deg);
      }
    }

    .nav-links-container {
      height: 207px;

      a {
        color: var(--secondary-colour);
      }
    }
  }
}

// Parallax & Landing
.parallax {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  background: center fixed url('../../images/parallax-bg.jpg');
  background-size: cover;
}

.landing-container {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-colour-rgba);

  .name-desc-container {
    width: 120%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-colour);
    transform: rotate(350deg);
    padding: 32px;

    h1 {
      font-weight: 700;
      font-style: italic;
      color: var(--primary-colour);
      border-bottom: 4px solid var(--primary-colour);
    }
    
    p {
      margin-top: 4px;
      font-family: 'Pacifico', Roboto, sans-serif;
      color: var(--secondary-colour);
    }
  }
}

// About
.about-container {
  flex-direction: column;
  background-color: var(--tertiary-colour);

  h2 {
    font-family: 'Pacifico', Roboto, sans-serif;
    color: var(--secondary-colour);
  }

  p {
    color: var(--secondary-colour);
  }

  span, a {
    font-weight: 700;
    color: var(--primary-colour);
    border-bottom: 0px solid var(--secondary-colour);
    transition: border-bottom .2s ease-in-out;
  }

  a {
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid var(--secondary-colour);
    }
  }

  .about-technologies {
    flex-direction: column;
    margin: 32px 0;

    h2 {
      text-align: center;
    }

    .about-devicons {
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 16px;
    }

    i {
      font-size: 64px;
      padding: 12px;
    }
  }
}

// Portfolio
.portfolio-container {
  flex-wrap: wrap;
  background-color: var(--tertiary-colour-rgba95);

  h1 {
    font-family: 'Pacifico', Roboto, sans-serif;
  }

  .portfolio-card {
    height: 480px;
    flex-direction: column;
    margin-top: 2%;
    background-color: var(--tertiary-colour);
    box-shadow: 0 2px 4px rgba(51, 51, 51, .33);
    border-radius: 8px;

    img {
      height: 75%;
      width: 100%;
      border-radius: 8px 8px 0 0;
    }

    .portfolio-name-links {
      height: 25%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 0 16px;

      h3 {
        font-family: 'Raleway', Roboto, sans-serif;
        color: var(--primary-colour);
        text-align: center;
      }

      a {
        text-decoration: none;

        &:first-of-type {
          margin-right: 32px;
        }

        &:last-of-type {
          margin-left: 32px;
        }

        i {
          color: var(--secondary-colour);
          font-size: 32px;
          transition: color .25s ease-in-out;
        }
      }
    }
  }
}

.contact-container {
  flex-direction: column;
  background-color: var(--secondary-colour-rgba90);

  h1 {
    color: white;
  }

  .contact-form {
    flex-direction: column;

    .contact-form-field {
      flex-direction: column;
      margin-bottom: 16px;

      label {
        font-family: "Raleway", "Roboto", sans-serif;
        font-weight: 700;
        color: var(--tertiary-colour);
        margin-bottom: 8px;
      }
      
      textarea {
        resize: vertical;
      }

      input, textarea {
        font-family: "Raleway", "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #333;
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 8px;
        background-color: var(--tertiary-colour);
      }
    }

    button {
      align-self: center;
      padding: 0 16px;
      font-family: "Pacifico", "Roboto", sans-serif;
      font-size: 24px;
      color: var(--primary-colour);
      border-radius: 8px;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
      transition: color .25s ease-in-out, background-color .25s ease-in-out;
    }

    .form-message {
      margin-top: 32px;
      font-size: 24px;
      font-weight: 700;
      text-align: center;

      &[data-message=error] {
        color: var(--primary-colour);
      }

      &[data-message=success] {
        color: var(--white-colour);
      }
    }
  }
}

.contact-media {
  flex: 1 1 30%;
  align-items: center;

  a {
    text-decoration: none;

    i {
      font-size: 32px;
    }
  }
}

footer {
  justify-content: center;
  padding: 16px;
  background-color: var(--secondary-colour-rgba90);
  
  a {
    text-decoration: none;
    margin-right: 32px;

    &:last-of-type {
      margin: 0;
    }

    i {
      font-size: 32px;
      color: var(--white-colour);
      transition: color .25s ease-in-out;
    }
  }
}
